.btn {
  box-sizing: border-box;
  border: 1px solid #2c4058;
  width: 190px;
  background: transparent;
  padding: 16px 40px;
  font-family: $main-font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  cursor: pointer;
  text-transform: uppercase;

  &--margin {
    margin: 76px 0 140px;
    text-align: center;
  }
}
.btn:hover {
  background: #2c4058;
  color: #fff;
}

.fa-location-dot {
  margin-right: 10px;
}

#map {
  height: 700px;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.icon {
  margin-right: 10px;
  color: #7e5aff;
}

.news {
  width: 100%;
}
